/* 
INICIALIZAÇÃO
============================= */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Average", sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
}

/* 
NAVEGAÇÃO
============================= */

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 16px auto;
    padding: 8px;
}


.img-logo {
    width: 160px;
}


.menu-lista {
    display: flex;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    padding: 20px;
    color: #333333;
}

/* 
BLOCO
============================= */

.bloco {
    max-width: 940px;
    margin: 0 auto;
    padding: 16px; 
}

/* 
HABILIDADES
============================= */

ul.lista-habilidades {
    list-style: none;
    list-style-position: inside;
}

.lista-habilidades li {
    padding: 12px 0px;
}

/* 
GALERIA
============================= */


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.cell {
    margin: 0.5rem;
}

.cell img {
    display: block;
}

.responsive-image {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        max-width: 50%;
        margin: 0.5rem;
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 1rem);
        margin: 0.5rem;
    }
}














/* RESPONSIVO */
    @media screen and (max-width: 600px) {
                
        .img-logo {
            width: 100px;
        }

    }