body {
    font-family: monospace;
    background-color: black;
    color: greenyellow;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.year {
    width: 400px;
}

.list-item-crossed {
    text-decoration: line-through;
    color: gray;
}