body {
    font-family: monospace;
    background-color: black;
    color: white;
    width: 940px;
    margin: 0 auto;
}

.navigation {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #333333;
}

.navigation .link {
    color: rgb(255, 255, 255);
    margin: 8px;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: red;
}

.home-image {
    float: right;
    width: 30%;
    margin: 30px;
}

.clearfix {
    clear: both;
}

/* ::::::::::::::::: CONTAINER ::::::::::::: */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.container-project {
    width: 100px;
    margin: 20px 10px;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 251, 0);
 
}

h3 { 
    font-weight: normal;
    text-align: center;

}

.link-project {
    text-decoration: none;
}