:root {
    --dark-gray: #1E1E1E;
    --primary-color: #fedf42;
    --door1: #fff0fc; 
    --door2: #b4d6ff; 
    --door3: #ff91c8; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    letter-spacing: -0.02em;
    color: var(--dark-gray);
    text-rendering: geometricPrecision;
    height: 100%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}


/* 

0. GRID 
======================

*/

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* 

1. HEADER 
======================

*/


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__avatar {
    border: 4px solid var(--dark-gray);
    padding: 4px;
    background: url(jamalchk.png);
    background-size: cover;
    background-clip: content-box;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
    position: relative;
    transition: transform 0.4s;
}

.header__avatar:hover {
    transform: rotateZ(-12deg);
    cursor: grab;
}

.header__title {
    font-size: 32px;
    letter-spacing: -0.04em;

}

.header__title_smaller {
    font-size: 24px;
}

.header__subtitle {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 24px;
}

.header__subtitle_smaller {
    font-size: 16px;
    font-weight: normal;
}

.header__info {
    font-style: italic;
    font-size: 14px;
}

.header__link {
    display: inline;
    text-decoration: none;
    color: initial;
    padding: 24px 0px;
}

h2 {
    font-weight: normal;
}

/* 

2. LINKS (DOORS) 
======================

*/


.links {
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links__sign {
    font-size: 12px;
    font-weight: bold;
    padding: 8px 24px;
    text-transform: uppercase;
    border-bottom: 2px dashed var(--dark-gray);
    margin-bottom: 12px;
    cursor: default;
    user-select: none;
}

.links__list {
    display: flex;
    position: relative;
}

.links__list:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    background: var(--dark-gray);
}

.link__container {
    text-decoration: none;
    color: var(--dark-gray);
    border: 4px solid var(--dark-gray);
    border-radius: 3px;
    margin: 4px 4px 0px 4px;
    width: 102px;
    padding: 12px 4px 0px 8px;
    height: 180px;
    position: relative;
    background: white;
}

.link__container:nth-child(1){ background: var(--door1); }
.link__container:nth-child(2){ background: var(--door2); }
.link__container:nth-child(3){ background: var(--door3); }


.link__container::before {
    content: '';
    background: var(--primary-color);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 78px;
    border: 2px solid var(--dark-gray);
}


.link__container:hover::after {
    animation: door-handle 1s alternate forwards;
}

.link__item {
    list-style-type: none;
    list-style-position: inside;
}

.link__title,
.link__subtitle {
    display: block;
}

.link__title {
    font-size: 15px;
    font-weight: bold;
}

.link__subtitle {
    font-size: 13px;
    font-style: italic;
}


@media (max-width: 804px){

    .grid {
        flex-direction: column;
    }

    .header {
        margin-top: 32px;
        text-align: center;
        align-items: center;

    }
}

@media (min-height: 318px) and (min-width: 805px){
    body {
        height: 100vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .grid {
        margin: auto;
    }
}
